@media(max-width: 480px){
  .primeiraPagina{
    .seta{
      padding-top: 5vh;
      padding-bottom: 2vh;
    }
    .apresentacao{
      margin-top: 7vh;
      padding-bottom: 9vh;
    }
    
    .botoes{
      margin-left: 5px;
      gap: 7px;
      margin-bottom: 8vh;
    }    
  }

  .segundaPagina{
    margin-left: 20px;
    .habilidades{
      margin-top: 50px;
      #caixas{
        margin-left: 10vw;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4.5rem;
      }
    }
  }

  .terceiraPagina{
    .projetos{
      margin-left: 20px;
    }
    #caixasDeProjetos{
      margin-left: 15vw;
    }
  }
}

@media(min-width: 481px){
  .primeiraPagina{
    .seta{
      padding-top: 5vh;
      padding-bottom: 2vh;
    }
    .apresentacao{
      margin-top: 7vh;
      padding-bottom: 9vh;
    }
    
    .botoes{
      margin-left: 5px;
      gap: 7px;
      margin-bottom: 8vh;
    }    
  }

.segundaPagina{
  #caixas{
    margin-left: 14vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4.5rem;
  }
}

.terceiraPagina{
  #caixasDeProjetos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

}

@media(min-width:1024px){
  .primeiraPagina{
    .seta{
      padding-top: 5vh;
      padding-bottom: 4vh;
    }
    .apresentacao{
      margin-top: 7vh;
      padding-bottom: 9vh;
    }
    
    .botoes{
      margin-left: 5px;
      gap: 7px;
      margin-bottom: 10vh;
    }    
  }

  .segundaPagina{
    margin-left: 10vw;
    margin-bottom: 50px;
    #caixas{
      margin-left: 10vw;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 4.5rem;
    }
  }

 }