@media(max-width: 480px){
  .primeiraPagina{
    .seta{
      display: none;
    }
    .apresentacao{
      margin-top: 70px;
      padding-bottom: 60px;
    }
    
    .botoes{
      margin-left: 5px;
      gap: 7px;
    }    
  }

  .segundaPagina{
    .habilidades{
      margin-top: 50px;
  
      #caixas{
        margin-left: 10vw;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4.5rem;
      }
    }
  }

  .terceiraPagina{
    .projetos{
      margin-left: 20px;
    }
    #caixasDeProjetos{
      margin-left: 14vw;
    }
  }

  .quartaPagina{
    background-color: rgb(33, 33, 33);
    .contato{

      .titulo{
        padding-top: 20px;

      }
    }
    .recado{
      display: flex;
      flex-direction: column;
      margin-left: 10vw;
      margin-top: 20px;
      label{
        color: white;
      }
    }
    
  }
}

@media(min-width: 480px){
  .seta{
    margin-top: 7vw;
  }
}


@media(min-width:760px) {
  .seta{
    margin-top: 7vw;
  }

  #caixas{
    display: grid;
  }

}

@media(min-width:968px){
  .primeiraPagina{
    .apresentacao{
      margin-top: 70px;
    }
    .botoes{
      padding-bottom: 150px;
    }
    .seta{
      margin-top: 30px;
    }
  }


  .segundaPagina{
  .sobre{
    margin-left: 100px;
    margin-bottom: 40px;
  }

  .habilidades{
    margin-top: 50px;
    margin-left: 100px;

    #caixas{
      margin-left: 150px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 4.5rem;
    }
  }

  .terceiraPagina{
    .projetos{
    margin-left: 70px;
    padding-bottom: 150px;
  } 

  #caixasDeProjetos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
  }

    .boxProjects{ 
      margin-left: 120px;
    }
}
}

  .terceiraPagina{
    padding-top: 50px;
    #caixasDeProjetos{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }


  .quartaPagina{
    background-color: rgb(33, 33, 33);
    .contato{
      margin-left: 50px;
      .titulo{
        padding-top: 20px;

      }
    }
    .recado{
      margin-left: 30vw;

    }
    
  }
}