@media(max-width: 480px){
  .primeiraPagina{
    .seta{
      display: none;
    }
    .apresentacao{
      margin-top: 70px;
      padding-bottom: 60px;
    }
    
    .botoes{
      margin-left: 5px;
      gap: 7px;
    }    
  }

  .terceiraPagina{
    #caixasDeProjetos{
      margin-left: 18vw;
    }
  }


}

@media(min-width: 480px){
  .seta{
    margin-top: 7vw;
  }
}


@media(min-width:760px) {
  .seta{
    margin-top: 7vw;
  }
}

@media(min-width:968px){
  .primeiraPagina{
    .apresentacao{
      margin-top: 70px;
    }
    .botoes{
      padding-bottom: 150px;
    }
    .seta{
      margin-top: 30px;
    }
  }


  .segundaPagina{
  .sobre{
    margin-left: 100px;
  }

  .habilidades{
    margin-top: 20px;
    margin-left: 100px;

    #caixas{
      margin-left:80px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 4.5rem;
    }
  }

  .terceiraPagina{
    .projetos{
    margin-left: 70px;
    padding-bottom: 150px;
  } 

  #caixasDeProjetos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
  }

    .boxProjects{ 
      margin-left: 120px;
    }
}
}

  .terceiraPagina{
    padding-top: 50px;
    #caixasDeProjetos{
      border: 2px solid red;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

}