
.quartaPagina{
  margin-top: 100px;
  padding-bottom: 100px;
  .contato{
    margin-top: 150px;
  }
  .recado{

.formulário{
  margin-top: 30px;
}
}
}

.footer{
  border-top: 2px solid white;
  p{
    text-align: center;
  }
}