.segundaPagina{
  margin-top: 20px;
  margin-left: 20px;

  .habilidades{
    margin-top: 20px;
   
  #caixas{
    width: 300px;
    margin-top: 2.5rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 10px;
  }


}
}