.segundaPagina{
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 70px;
  .habilidades{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  #caixas{
    width: 70%;
    margin-top: 2.5rem;
    gap: 7px;
  }


}
}